.logo {
	font-family: $boldFont;
	font-size: 18px;
    text-transform: uppercase;
}

.heading-1 {
	font-size: 72px;
	@media(max-width: 560px) {
		font-size: 35px;
	}
}

.heading-2 {
	font-size: 27px;
}

.heading-3 {
	font-size: 24px;
}

.heading-4 {
	font-size: 18px;
}