//Colours
$mainColor: #212121;
$borderColor: #232323;
$darkBorderColor: #474747;
$grayBgColor: #efefef;
$lightGrayColor: #555;
$darkGrayColor: #ccc;
$darkBgColor: #222;
$whiteColor: #eee;
$orangeColor: #e64a19;
$darkestGrayColor: #4d4c4b;

//Font Colour
$footerTextColor: #999;

//Fonts
$mainFont: "SourceSansProRegular", Arial, sans-serif;
$boldFont: "SourceSansProBold", Arial, sans-serif;
$lightFont: "SourceSansProLight", Arial, sans-serif;