.articles-slider {
	&--modifier {
		background-color: $grayBgColor;
		padding: 70px 0;
		@include sm-block(){
			padding: 40px 0;
		}
	}
	&__item {
		padding: 15px 30px;
    	border-left: 5px solid black;
	}
	&__title {
		margin-bottom: 20px;
	}
	.slick-slide {
		display: flex;
		flex-direction: column;
		@include sm-block(){
    		margin-bottom: 20px;
    	}
	}
}

.articles-slider .slick-arrow {
    position: absolute;
    top: 50%;
    margin-top: -7px;
    width: 15px;
    height: 15px;
    cursor: pointer;
    @include sm-block(){
    	top: auto;
    	bottom: 20px;
    	margin: 0;
    }
}

.articles-slider .slick-disabled {
    opacity: 0;
}

.articles-slider__prev {
    left: 5%;
    background: url('../img/svg/left-arrow.svg') 0 0 no-repeat;
    background-size: 100%;
    @include sm-block(){
    	left: 40%;
    }
}

.articles-slider__next {
    right: 5%;
    background: url('../img/svg/right-arrow.svg') 0 0 no-repeat;
    background-size: 100%;
    @include sm-block(){
    	right: 40%;
    }
}