.features {
	&--modifier {
		background-color: $grayBgColor;
		padding: 79px 0 109px;
		@include sm-block(){
			padding: 20px 0 50px;
		}
	}
	&-item {
		@include col();
		@include size(4);
		@include size-xs(12);
		@include size-sm(4);
		@include sm-block(){
			text-align: center;
			padding: 30px 0 0;
		}
		&__title {
			padding: 30px 0 40px;
		}
	}
}