.quote {
	&--modifier {
		background-color: $mainColor;
		color: #fff;
		padding: 82px 0 72px;
		@include sm-block(){
			padding: 40px 0;
		}
	}
	&-item {
		width: 100%;
		max-width: 830px;
		text-align: center;
		font-size: 20px;
		margin: 0 auto;
		@include xs-block(){
			padding: 0 15px;
		}
		&__text {
			line-height: 38px;
			padding-bottom: 50px;
			&::before {
				content: '';
				display: block;
				background: url('../img/ico/quote.svg') 0 0 no-repeat;
				background-size: 100%;
				margin: 0 auto 20px;
				width: 16px;
				height: 16px;
			}
		}
		&__author {
			font-family: $boldFont;
			font-style: italic;
			
		}
	}
}